/* ############# IMPORTS #############*/


/* ############# ESTILO GENERALES ############# */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

html {
  background-color: #ffffff;
  color: #000000;
}

header {
  color: #f0f0f0;
}

body {
  width: 100%;
  min-height: 100%;
}

main {
  display: block;
}

.color-primary {
  color: orange;
}

a {
  color: #555555;
}

a:hover {
  color: #1a1c27;
  text-decoration: underline;
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

/* Fuentes y tamaños por defecto */
html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
  line-height: 1.6;
  transition: all 1s ease;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

body,
p,
ul,
li {
  font-size: 1.5rem;
}

.weight-bold {
  font-weight: bold;
}

/* Barra de scroll - Oculta */
html {
  /* overflow-y: scroll; */
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.burger-menu {
  display: none;
}


/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
} */



/* ############# HEADER ############# */
header {
  display: block;
  opacity: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #1a1c27;
}

header a {
  color: #f0f0f0;
}

header a:hover {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: normal;
}

/* Header especial para la página de inicio */
.header-transparent {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #000000, #00000000);
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
}

/* Branding (Logo y título) */
.branding-title {
  width: max-content;
  font-family: "Kolker Brush", cursive;
  font-weight: 200;
  font-size: 10.8rem;
  line-height: 60%;
}

.branding-title::after {
  content: attr(data-content);
  display: block;
  width: 0%;
  height: 2px;
  background-color: orange;
  transition: all 0.5s ease;
}

/* Animación underline del branding */
.branding:hover .branding-title::after {
  width: 100%;
}

.branding-primary-color {
  transition: color 0.3s ease-in-out;
}

.branding:hover .branding-primary-color {
  color: orange;
}



/* Navegación principal */
.nav-container ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.nav-container a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.nav-container a:hover {
  background-color: #ffae009d;
}



/* ############# VIDEO DE FONDO ############# */
.media-container {
  display: block;
  background-color: #333;
  position: relative;
  min-height: 100vh;
}

.video-container {
  object-fit: cover;
  max-width: 100%;
  line-height: 1;
  border: none;
}

.media-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
}

video {
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* Slogan */
.slogan-container {
  display: block;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1000;
}

#slogan {
  color: #FFFFFF;
  font-size: 5rem;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-shadow: 2px 2px 5px #000000, 5px 5px 10px #000000, 2px 2px 20px #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1;
}

#slogan:hover {
  color: orange;
}

#slogan::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: orange;
  box-shadow: 0px 0px 7px #000;
  transition: all 0.5s ease;
}

.slogan-container:hover #slogan::after {
  width: 100%;
}

/* Arrow down */
.arrow-down {
  position: absolute;
  transform: translate(-50%, -120%);
  top: 100%;
  left: 50%;
  width: max(3%, 50px);
  cursor: pointer;
  filter: drop-shadow(2px 2px 3px #000);
}

/* Arrow up */
.arrow-up {
  opacity: 20%;
  position: sticky;
  bottom: 0;
  margin-left: 30px;
  width: fit-content;
  transition: opacity .8s ease-out;
  filter: drop-shadow(2px 2px 3px #000);
}

.arrow-up:hover {
  opacity: 100%;
}

.arrow-up img {
  width: 80px;
  cursor: pointer;
  border-radius: 50%;
}

.media-container img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #000;
  opacity: 20%;
  transition: opacity .8s ease-out
}

.media-container img:hover {
  opacity: 100%;
}



/* ############# MAIN CONTAINER ############# */
.main-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.main-container img {
  max-width: 100%;
}

.main-container h1 {
  text-align: center;
  margin-top: 0;
  color: #1a1c27;
}



/* ############# FOOTER ############# */
footer {
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 20px 10px;
  border-top: 2px solid #e0e0e0;
}

footer p {
  margin: 10px 0;
  line-height: 1.6;
}

footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  text-underline-offset: 2px;
}

footer a:hover {
  text-decoration: underline;
  color: #0056b3;
}



/* ############# FORMS ############# */
form {
  display: block;
  margin: 30px auto;
  color: #333;
}

.contact-form {
  min-width: 500px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form textarea {
  resize: none;
}



/* ############# SOBRE NOSOTROS ############# */

.main-container .frame-container {
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.about-us-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  line-height: 1.8;
}

.about-us-container h2 {
  margin-top: 20px;
  color: #007bff;
  text-transform: uppercase;
  text-decoration: underline;
}

.about-us-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-container ul li {
  margin-bottom: 10px;
}

.about-us-container ul li:last-child {
  margin-bottom: 0;
  /* Quita el márgen del último hijo */
}

.about-us-container ul li::marker {
  color: #007bff;
}




/* ############# TIENDA ############# */
/* Contenedor del producto - tipo cuadricula */
.shop-container {
  display: block;
  width: 100%;
}

.product-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
  padding: 0 10%;
}

.product-container {
  align-items: center;
  max-width: 250px;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: flex;
  /* max-width: fit-content; */
}

.product-grid .frame-container:hover {
  box-shadow: 0 4px 10px rgba(94, 143, 216, 0.527);
  border: 1px solid #99c0fa;
}

.product-container img {
  width: 100%;
}

.product-category {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}

.product-description {
  margin-block: 10px;
  text-align: justify;
  color: #777;
}

.product-price {
  width: 100%;
  font-weight: bold;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0px 10px;
}

.product-discount-price {
  color: #007bff;
}

.discounted {
  text-decoration: line-through;
  font-weight: normal;
  color: #777;
}




/* Media Query para tablets */
@media (max-width: 1024px) {
  .header-container {
    padding: 20px;
  }

  .branding-title {
    font-size: 7.2rem;
  }

  .branding-title {
    font-size: 7.2rem;
  }

  .nav-container ul {
    gap: 12px;
  }

  .nav-container a {
    font-size: 1.4rem;
  }

  .contact-form {
    min-width: 80%;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
  }
}



/* Media Query para dispositivos pequeños (móviles) */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .branding-title {
    font-size: 7.2rem;
    line-height: 80%;
    text-align: center;
  }

  .nav-container ul {
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }

  .contact-form {
    min-width: 90%;
    padding: 15px;
  }

  .about-us-container {
    max-width: 100%;
    padding: 15px;
  }

  .main-container .frame-container {
    padding: 10px;
    font-size: 1.2rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
  }

  #slogan {
    font-size: 3rem;
    text-align: center;
  }
}



/* Media Query para pantallas muy pequeñas (menores a 480px) */
@media (max-width: 480px) {
  header{
    /* background-color: #000000; */
    background-color: #0c1b2b;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
/* 
  footer {
    position: sticky;
    bottom: 0;
  } */

  .header-container {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
  }

  .burger-menu{
    display: block;
  }

  .branding-title {
    font-size: 6rem;
  }

  #drop-down-menu:checked+.nav-container{
    /* right: 0; */
    transform: translateY(0%);
  }
  
  .nav-container {
    position: absolute;
    width: 100%;
    top: calc(100% - 5px);
    right: 0;
    background: linear-gradient(to bottom, #0c1b2b, #06315b);
    transform: translateY(-150%);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    box-shadow: -2px 5px 10px #00000088;
    z-index: 100;
  }
  
  .nav-container ul{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-container li {
    width: 100%;
    padding: 6px 6px;
    align-content: center;
  }
  
  .nav-container a {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #0056b3;
    font-size: 1.4rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 8px;
    padding: 0 0;
  }

  .arrow-up img {
    width: 60px;
  }

  .slogan-container {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }

  footer p, footer ul, footer li{
    font-size: 1.1rem;
  }
}




/* Debug */
/* html {
    border: solid, red, 1px;
}

main {
    border: solid, orange, 1px;
}

body {
    border: solid, cyan, 1px;
}

footer {
    border: solid, lawngreen, 1px;
}
section {
    border: solid, magenta, 1px;
}
header {
    border: solid, lightcoral, 1px;
} */



/* @media (max-width: 480px) { */

/* .nav-container,
.nav-container ul,
.nav-container ul li {
  width: 100%;

}

.nav-container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transform: translateX(-50%);
}

.burger-menu {
  cursor: pointer;
  margin-right: 50px;
}

#drop-down-menu:checked+.nav-container {
  transform: translateX(+50%);
}

.nav-container {
  transition: all .3s ease-in-out;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

 
header {
  position: fixed;
}  
  
*/

