/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-size: 0.8rem;
}

/* Scroll */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(111, 111, 111) rgba(0, 0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 3px solid rgb(0, 64, 255);
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth !important;
}

html {
  // overflow-y: visible !important;
}

/* Sombras textos */
.text-shadow-sm {
  text-shadow: 1px 1px 3px #000000;
}

.text-shadow {
  text-shadow: 2px 2px 5px #000000;
}

.text-shadow-lg {
  text-shadow: 5px 5px 10px #000000;
}

.h-wider{
  max-height: calc(100vw / 2.3);
}

// $sizes: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// @each $size, $value in $sizes {
//   @media (min-width: $value) {
//     .text-shadow-#{$size} {
//       text-shadow: 2px 2px 5px #000000;
//     }
//   }
// }
